<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rokasjankunas.ticktock">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature android:name="android.hardware.audio.output" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.rokasjankunas.ticktock.AMBIENT_INTERACTIVE_MODE_CHANGE" />

    <permission
        android:name="com.rokasjankunas.ticktock.AMBIENT_INTERACTIVE_MODE_CHANGE"
        android:label="Pause or resume ticking sound (for ambient and interactive modes)"
        android:description="@string/permission_description_AMBIENT_INTERACTIVE"
        android:protectionLevel="dangerous"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="com.rokasjankunas.ticktock.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rokasjankunas.ticktock.activities.ActivityTextViewActivity" />
        <activity android:name="com.rokasjankunas.ticktock.activities.custom.BatteryPercentageActivity" />
        <activity android:name="com.rokasjankunas.ticktock.activities.BooleanSwitchActivity" />
        <activity android:name="com.rokasjankunas.ticktock.activities.custom.IntegrationsActivity" />
        <activity android:name="com.rokasjankunas.ticktock.activities.custom.AboutActivity" />
        <activity android:name=".activities.custom.TimeActivity" />

        <receiver
            android:name="com.rokasjankunas.ticktock.BootReceiver"
            android:label="Boot Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>